header.main {
    width: 100%;
    /* max-width: 50em; */
    min-height: 6.5em;
    display: block;
    font-variant: small-caps;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}
header.main #logo-img,
footer.main #logo-img {
    max-height: 6.5em;
    max-width: 11.8em;
    padding: .75em .25em .25em;
    display: inline-block
}
header.main #header-search {
    display: flex;
    margin: 1em 2em;
	padding: 0;
	float: right;
}
header.main #header-search input {
    font-variant: small-caps
}
header.main .menu {
	display: flex;
	flex: 1;
}
header.main .menu nav {
    display: flex;
    flex: 1;
}
#mobile-menu-button {
    display: none;
    float: right;
    padding: 1em 0;
    font-size: 2.5em;
    margin: 0;
}
#mobile-menu-button a {
    border-bottom: 0 none transparent;
    color: #333;
    cursor: pointer;
    padding: .75em
}
header.main .random-story-link.show {
    color: #FAFAFA;
    margin: 0 auto;
    display: none;
    background: #333;
    padding: 1em 0
}
header.main ul.navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* padding-left: 0;
    text-align: right */
}
a.home-link {
    border: 0 none transparent;
}
@media only screen and (max-width: 50em) {
    header.main {
        background: #fff;
        min-height: 6.75em;
        padding: 0 !important;
        position: relative;
        box-shadow: 0 0 .5em #333
    }
    header.main .menu {
        background: #eaeaea;
        padding-top: .5em;
        width: 100%;
        margin: 0 auto;
        clear: both;
        text-align: center;
        box-shadow: 0em .25em .25em #333;
        display: none;
    }
    header.main .menu.active {
        display: block;
    }
    header.main .random-story-link.show {
        display: block
    }
    #mobile-menu-button {
        display: block;
    }
    header.main #logo-img {
        max-height: 6em;
        padding: 0.5em 1em 0 !important
    }
    header.main a.home-link {
        display: inline-block;
    }
}
header.main ul.navigation {
    padding-left: 0;
    text-align: center
}
header.main ul.navigation li {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
header.main ul.navigation li a {
    color: #555;
    padding: .5em;
    border: 1px solid transparent
}
header.main ul.navigation li a:hover {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .25em
}
@media only screen and (min-width: 50em) {
    header.main {
        padding-top: 1em;
        padding-bottom: 1em
    }
    header.main #logo-img {
        padding-top: 0;
        z-index: 0
    }
}

