.map-number {

}

.map-actions-link {
    color: $mid-blue;
    display: inline-block;
    padding: 6px 8px;
}

.map-actions-link:first-child {
    padding-left: 0;
}

.home-page-map {
    margin-bottom: 24px;
    position: relative;
}

#map_canvas { 
    height: 300px; 
}

.home-page-map {
    // .featuredItem-title {
    //     padding: 0 16px 0 16px;
    // }

    .featuredItem-text {
        color: $white;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .3em;
        .featuredItem-title {
            a {
                background: $orange;
                color: $white;
                padding: .2em;
            }
        }
    }
}

body.fullscreen-map #map_canvas {
    display: block !important
}
i.working {
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

.fullscreen-map #hm-map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    /* enlore ewwwwww ew */
    /* fixes MHC-63 */
    z-index: 1;
}

.fullscreen-map #hm-map #map_canvas {
    height: 100% !important;
    width: 100% !important
}
#home.fullscreen-map #about article,
#home.fullscreen-map #about .home-about-links,
#home.fullscreen-map #featured-story,
#home.fullscreen-map #home-tours,
#home.fullscreen-map #home-item-list,
#home.fullscreen-map #home-popular-tags {
    display: none
}

.leaflet-container a {
    color: inherit !important;
}
.leaflet-popup-content {
    margin: 0 !important;
    min-width: 12em;
    max-width: 15em;
}
#tours.show .leaflet-popup-content {
    display: flex;
    min-width: 10em;
    max-width: 26em;
    padding: 8px 8px 4px;
    line-height: 2em;
}
.curatescape-infowindow-title {
    padding: 0 8px 0;
    display: inline-block;
    font-variant: small-caps;
    line-height: 1.2em;
}
.curatescape-infowindow-address {
    padding: 4px 8px 8px;
    font-size: .65em;
    text-transform: uppercase;
    color: #bababa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
.curatescape-infowindow-address.single-item {
    padding-top: 8px;
    min-width: 14em;
}
#tours.show .curatescape-infowindow-address {
    padding: 0 4px 4px 8px;
    line-height: 1.4em;
    max-width: 26em;
}
#tours.show .leaflet-popup-content .number {
    min-width: 2em;
    margin: 4px 0 0
}
.curatescape-infowindow-image {
    background-color: #eaeaea;
    background-size: cover;
    width: 100%;
    height: 7.5em;
    display: block;
    background-position: center
}
#map_canvas .access-anchor {
    background: #efefef;
    color: #777;
    border-bottom: none;
    padding: 3px 5px 3px;
    border-radius: 2px;
    font-size: .7em;
    text-align: center;
    display: block;
    margin: 4px 0 0;
    color: #999 !important;
}
#map_canvas .access-anchor:hover {
    color: #fff !important;
}
a.leaflet-control-layers-toggle,
.leaflet-control-attribution a {
    border-bottom: none;
}

@media only screen and (max-width: 50em) {
}


@media only screen and (max-width: 30em) {
    .fullscreen-map #hm-map {
        top: 3em;
        height: 100%;
        z-index: 1
    }
}

@media only screen and (max-width: 50em) {
    .fullscreen-map header.main,
    .fullscreen-map #showmap {
        display: none
    }
    .fullscreen-map #map_canvas {
        max-height: none
    }
}
