#slider {
    overflow: hidden
}
#slider li div {
    margin: 0;
    height: 20em;
    box-shadow: 0 0 1em #333 inset;
    overflow: hidden;
    opacity: .9
}
@media only screen and (max-width: 25em) {
    #slider li div {
        height: 12em
    }
}
#slider li {
    background-color: transparent;
    background-image: none;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}
#slider li,
#slider ul {
    margin: 0;
    padding: 0
}
#slider li div a {
    color: #fafafa
}
#slider li div span.title {
    background: #000;
    box-shadow: 0 0 1em #333;
    color: #fafafa;
    left: 0;
    opacity: .85;
    padding: .25em .5em .1em 1em;
    top: 2.5em;
    position: relative;
    border: 0 none transparent;
    font-size: 1.25em;
    display: inline-block;
    min-height: 1.6em;
    overflow: hidden;
    max-width: 70%;
    border-radius: 0 .15em .15em 0
}
#slider li div span.title a {
    border-bottom: none;
    padding-bottom: 0
}
#slider li {
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none
}
#swipenav #position li,
#swipenav #position li:hover {
    color: transparent;
    cursor: pointer
}
#swipenav #position li {
    height: .75em;
    width: .75em;
    margin-left: .5em;
    border-radius: 50%;
    display: inline-block;
    background: #eaeaea;
    box-shadow: 0 0 .15em #333 inset
}
#swipenav #position li.active {
    background-color: #000;
    box-shadow: 0 0 .15em #fff inset
}
#swipenav #position {
    display: none;
    overflow: hidden;
    height: 1.5em
}
.small #swipenav #position {
    display: block;
    width: 97%
}
#swipenav #position {
    margin: -2em auto 3em;
    padding: 0;
    width: auto;
    text-align: right;
    z-index: 999;
    position: relative
}
@media only screen and (max-width: 25em) {
    #slider span.slider-nav {
        bottom: 6em
    }
}

