/*! FOOTER */
.footer {
    background-color: var(--black);
    color: var(--lightgrey);
}

.footer-brand img {
    max-width: 200px;
}

.footer-nav ul {
    padding-left: 0;
}

.footer-nav a {
    font-size: 24px;
    color: var(--lightgrey);
}

.footer-about {
    margin-top: 0;
}

.footer-byline {
    margin-top: 64px;
    text-align: right;
}

@media (min-width: 1008px) {
    .footer-byline {
        margin-top: 0;
        text-align: left;
    }
}

.footer-fog {
    display: inline-block;
    margin-top: 8px;
    opacity: 0.7;
}
