
.navbar-brand,
.navbar-menu,
.navbar-end, {
    display: flex;
}

.navbar {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

#logo-img.home {
    height: 150px;
}
#navbar-menu {
    width: 100%;
   
    .navbar-links{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
    }
 }

header.main {
    width: 100%;
    padding: 16px;
    min-height: 6.5em;
    display: block;
    font-variant: small-caps;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

header.main #header-search {
    display: flex;
	padding: 0;
	float: right;
}
header.main #header-search input {
    font-variant: small-caps
}

nav {
    width: 100%;
    .navbar-links {
        text-align: center;
        padding-top: 8px;
        a {
            color: var(--black);
            display: flex;
        }
    }
}





@media only screen and (min-width: $fullhd) {

}
@media only screen and (min-width: $widescreen) {


}
@media only screen and (min-width: $desktop) {
    .navbar {
        display: flex;
    }
}
@media only screen and (min-width: $tablet) {
    header.main {
        padding-top: 1em;
        padding-bottom: 1em
    }
    header.main #logo-img {
        padding-top: 0;
        z-index: 0
    }

}
@media only screen and (max-width: $tablet) {
    header.main {
        background: #fff;
        min-height: 6.75em;
        padding: 8px;
        position: relative;
    }
    header.main .menu {
        background: #eaeaea;
        padding-top: .5em;
        width: 100%;
        margin: 0 auto;
        clear: both;
        text-align: center;
        box-shadow: 0em .25em .25em #333;
        display: none;
    }
    header.main .menu.active {
        display: block;
    }
    header.main a.home-link {
        display: inline-block;
    }

    .navbar-brand {
        float: left;
    }
    .navbar-brand img {
        max-height: 3em !important;
    }

    .navbar-end {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    #navbar-menu {
        display: block;
        clear: both;
        width: 100%;
    }
}



