/*! ===== Various IE Fixes  ===== */

@-ms-viewport {
    /*! IE9+ */
    
    width: device-width;
    /*! Fixes IE Metro snap view */
}
@media screen and (min-width: 0\0) {
    /*! IE9-11 hack */
    
    #wrap {
        box-shadow: 0 0 .55em #333;
    }
}
.lte8 .map-actions a.location {
    display: none;
}
.lte8 #wrap {
    border: 1px solid #ccc;
}
.lte8 h5.no-audio {
    display: none
}
.lte8 footer input#search {
    border-color: #ccc
}
.lte8 .random-story-link.big-button,
.big-button {
    width: 100%;
    display: block
}
.lte8 a.app-store,
.lte8 a.app-store#android,
.lte8 a.app-store#apple {
    background: #333
}
.lte7 #tours.show #hero,
.lte7 #tours.browse #hero,
.lte7 .page #hero {
    display: none;
    visibility: collapse
}
.lte7 #hero {
    display: none;
    height: 0;
    margin-bottom: 1em
}
.lte7 input#submit_search {
    display: none
}
.lte7 input.search {
    width: 100%
}
.lte7 nav.secondary-nav ul li {
    display: inline
}
.lte8 ul.pagination li a {
    display: inline;
}
.lte8 body.big .item-file-container,
.lte8 body.big .item-file-container .item-file,
.lte8 body.big .item-file-container .item-file a {
    height: 0 !important
}

