/*! ===== Other MEDIA QUERIES ===== */

@media only screen and (max-width: 25em) {
    /*! <400px, smaller phone viewport, i.e. iPhone and smaller */
}
@media only screen and (max-width: 45em) {
    /*! Rules that apply up to 45, i.e. phone-sized devices in general */
    
    #showmap {
        height: 0;
        position: relative
    }
    #showmap a {
        background: none repeat scroll 0 0 #fafafa;
        border: medium none;
        border-radius: 50%;
        bottom: 1.25em;
        color: #999;
        display: inline-block;
        font-size: 2em;
        height: .85em;
        line-height: .95em;
        margin: 0;
        opacity: .65;
        padding: .25em;
        position: absolute;
        right: .25em;
        text-align: center;
        text-decoration: none;
        visibility: visible;
        width: .85em;
        z-index: 999
    }
    #showmap a span.icon-map-marker:before {
        padding-right: 0
    }
    #showmap a:hover {
        opacity: 1
    }
    #showmap a.mapview {
        opacity: 1;
        box-shadow: 0 0 .75em #333;
        border-radius: 10%
    }
}
@media only screen and (min-width: 45em) {
    /*! 720px+, typical tablet viewport */
    
    #item-media h3 {
        padding-top: 1.5%
    }
    #item-media p.description {
        padding: 0;
        line-height: 1.35em;
        display: none
    }
    #item-media h4.title.video-title,
    #item-media h4.title.audio-title {
        margin: .25em;
        font-size: .9em;
        margin: 0;
        padding: 0;
        color: #999;
        font-weight: 400;
        cursor: pointer;
        line-height: 1.25em
    }
    #item-video .item-file-container,
    #item-audio .item-file-container {
        margin-bottom: 2em
    }
    .item-file-container:last-child {
        padding-bottom: 1em
    }
    #item-media p.description,
    #item-media p.description:after {
        z-index: 1
    }
    .media figure#item-video {
        margin-bottom: 0
    }
    #item-media p.description.video-description,
    #item-media p.description.audio-description {
        position: relative;
        margin: 1.5em 0;
        background: #eaeaea;
        color: #333;
        padding: .5em
    }
    #item-media p.description.video-description:after,
    #item-media p.description.audio-description:after {
        content: "";
        display: block;
        position: absolute;
        top: -15px;
        left: 5%;
        width: 0;
        border-width: 0 15px 15px 0;
        border-style: solid;
        border-color: #eaeaea transparent
    }
    #item-media {
        width: 97%;
        color: #fff;
        background: #333;
        margin: 2em auto;
        border-radius: 0
    }
    #item-media h3,
    #item-media h4 {
        color: #eaeaea
    }
    #tours.show #hero,
    #tours.browse #hero,
    .page #hero {
        background-size: auto !important;
        background-attachment: fixed !important;
        background-position-y: top !important
    }
    .show article p {
        font-size: 1.1em;
        line-height: 1.8em
    }
}

