/*! ===== Print ===== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        overflow: visible !important;
        position: static !important
    }
    body,
    #wrap,
    article.story.show,
    #content,
    #story-header,
    #item-primary.show,
    #item-metadata,
    #item-media,
    #item-file-container,
    #h4.title,
    p.description {
        width: 100% !important;
        margin: auto !important;
        float: none !important;
        clear: both !important;
        display: block !important;
        padding: 0 !important;
        height: auto !important
    }
    body {
        margin-top: 1em !important
    }
    #item-photos,
    #item-file-container,
    #h4.title,
    p.description,
    header#story-header {
        display: inline-block !important;
        visibility: visible !important
    }
    header,
    #hero,
    footer,
    #share-this,
    h3 span,
    h4 span,
    a.edit,
    a.random-story-link,
    a.view-file-record,
    #tags,
    #subjects,
    .map-actions,
    #action-buttons,
    .comments,
    audio,
    video,
    [class^="vjs-"],
    .video-js,
    section.meta {
        display: none !important;
        visibility: collapse !important;
        height: 0 !important;
        width: 0 !important
    }
    .fancybox img,
    #item-photos img,
    .item-file img,
    .big #item-photos img,
    .small #item-photos img,
    img {
        display: block !important;
        clear: left !important
    }
    body {
        margin-top: 2em
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after,
    #item-metadata .item-related-links a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    #item-media a[href]:after,
    #item-metadata a[href]:after,
    .ir a:after,
    a[href^="/"]:after,
    a:after,
    a[href^="../"]:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}
@page {
    margin: 1.5cm
}
/*! ===== Fancybox ===== */

.fancybox-title-over-wrap {
    width: 100%;
    padding: 0 0 0 !important;
}
@media only screen and (max-width: 40em) {
    .fancybox-nav span {
        visibility: visible;
        display: inline
    }
}

