#home #content {
    padding: 0
}
.featured-story-result.none,
.home-tour-result.none,
.recent-random-result.none {
    text-align: center;
    font-style: italic;
    width: 100% !important;
    display: block !important
}
.home-tour-result.none {
    color: #fff
}
.featured-decora-outer {
    height: auto
}
.featured-decora-bg {
    height: 15em
}
.featured-decora-outer {
    border-bottom: 2em solid #333;
    background: #333;
    overflow: hidden;
    clear: both;
    position: relative;
    overflow: hidden
}
.featured-decora-text {
    width: 94%;
    padding: 24px;
    background: var(--blue);
    color: var(--white);
    opacity: 1;
    display: block
}
.featured-decora-text {
    font-size: 1em;
    line-height: 1.5em
}
.featured-decora-text header {
}
.featured-decora-text header h3 {
    margin: 0.25em;
    font-size: 1.5em;
    line-height: 1.3em
}
.featured-decora-img {
    box-shadow: 0em -1em 1em 0em #333;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    background: #333;
    height: 15em;
    overflow: hidden;
    display: none
}
.featured-decora-img img {
    width: 100%
}
.featured-decora-bg {
    opacity: .8;
    background-size: cover;
    background-position: left center;
    position: relative
}
.featured-item-author {
    font-size: .6em;
    display: block;
    padding: .5em;
    font-weight: normal;
    line-height: 1.6em;
}
.featured-item-author a {
}
@media only screen and (min-width: 37em) {
    .featured-decora-img {
        display: block
    }
    .featured-decora-text {
        position: relative;
        width: 59%;
        opacity: .96;
        padding-bottom: 3%;
        border-radius: .15em
    }
    .featured-decora-bg,
    .featured-decora-img {
        height: 17em
    }
    .featured-decora-text {
        font-size: .9em;
        line-height: 1.4em
    }
}
@media only screen and (max-width: 50em) {
    .featured-decora-img img {
        height: 17em;
        width: auto;
        max-width: none
    }
    #home #about .home-about-links .find-us-homepage a.ext-social-link {
        margin: 0
    }
    #home #about .home-about-links {
        padding: .25em 0
    }
}
.greyscale {
    -webkit-filter: grayscale(1);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    filter: grayscale(1)
}
#home-item-list {
    padding: 5%
}
#home-item-list h2 {
    text-align: center
}
#rr_home-items .rr-results article {
    padding-bottom: 1em;
    padding-top: 1em
}
@media only screen and (min-width: 40em) {
    #rr_home-items .rr-results article {
        float: left;
        display: inline-block;
        width: 46%;
        padding-right: 2%;
        height: 15em;
        overflow: hidden;
        padding-bottom: 1em;
    }
    #rr_home-items .rr-results article:nth-child(even) {
        padding-left: 4.5%;
        padding-right: 0
    }
    #rr_home-items .rr-results article:nth-child(1),
    #rr_home-items .rr-results article:nth-child(2) {}#rr_home-items .rr-results article:nth-child(n+3) {
        padding-top: 0
    }
}
.view-more-link {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    line-height: 1.4em;
    font-size: .85em
}
.view-more-link a {
    border-bottom: none
}
.view-more-link span {
    font-weight: 700;
    font-style: oblique;
    display: inline-block
}
#home #about {

}
#home #about article {
    padding: 5%;
    display: block;
    background: #fff
}
#home #about .about-text {
    display: block
}
@media only screen and (min-width: 50em) {
    #home #about .about-text {
        max-height: 29em;
        overflow: hidden
    }
}
#home #about .home-about-links {
    margin: 0px auto;
    padding-top: .25em;
    width: 100%
}
#home #about .home-about-links aside {
    text-align: center
}
#home #about .home-about-links a {
    margin: 0.5em auto
}
#home #about header {
    text-align: center;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none
}
#home #about header span {
    color: #777;
    font-variant: small-caps;
    font-size: .85em
}
#home #about header h2 {
    margin: 0 0 .25em
}
#home #about header span {
    display: block;
    max-width: 99%;
    line-height: 1.7em
}
#home #about header a {
    display: inline-block;
    font-weight: 400;
    border-bottom: none;
    line-height: 1.5em
}
@media only screen and (min-width: 50em) {
    .about-main p {
        max-height: 16em;
        overflow-y: hidden;
    }
    #home #hero,
    #home #hero #map_canvas {
        height: 30em
    }
    #items.browse #hero,
    #items.browse #hero #map_canvas {
        height: 30em
    }
    #home #hero {
        position: absolute;
        max-width: 50em;
        z-index: 0
    }
    #home.expand-map #hero {
        position: relative
    }
    #home.expand-map #about article {
        width: auto
    }
    #home.expand-map .map-actions {
        display: inline-block
    }
    #home .home-map-overlay {
        position: absolute;
        height: 30em;
        width: 100%;
        top: 0
    }
    #home #about article,
    #home #about .home-about-links,
    #home #featured-story,
    #home #home-tours,
    #home #home-item-list {
        position: relative
    }
    #home #about article {
		text-align: center;
    }
    #home #about .home-about-links {
        background: #333;
        clear: both;
        width: 100%
    }
}
#action-buttons .random-story-link.big-button {
    margin: 0 auto
}
#home-tours {
    padding: 5%;
    background: #333
}
#home-tours h2 a {
    color: #fff;
    border-bottom: none;
    padding: 0.5em 0px;
    display: block;
    width: 100%;
    font-weight: normal
}
#home-tours h2 {
    background: #999;
    color: #fff;
    padding: 0;
    border-radius: .1em;
    margin-bottom: .25em;
    position: relative;
    margin-top: 0;
    text-shadow: none;
    text-align: center
}
#home-tours h2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    right: 5%;
    width: 0;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: #333 transparent
}
#home-tours article {
    margin: 0;
    border-top: 3px solid #333
}
#home-tours article:after {
    content: "";
    height: 3px;
    display: block
}
#home-tours article:hover:after {
    background: #333333;
    background: -moz-linear-gradient(left, #333333 15%, #ffffff 45%, #fff 55%, #333333 85%);
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, #333333), color-stop(45%, #ffffff), color-stop(55%, #ffffff), color-stop(85%, #333333));
    background: -webkit-linear-gradient(left, #333333 15%, #ffffff 45%, #ffffff 55%, #333333 85%);
    background: -o-linear-gradient(left, #333333 15%, #ffffff 45%, #ffffff 55%, #333333 85%);
    background: -ms-linear-gradient(left, #333333 15%, #ffffff 45%, #ffffff 55%, #333333 85%);
    background: linear-gradient(to right, #333333 15%, #ffffff 45%, #ffffff 55%, #333333 85%)
}
#home-tours h3 {
    margin: 0
}
#home-tours h3 a {
    margin: 0 auto;
    padding: .5em;
    background: #f2f2f2;
    display: block;
    font-weight: normal;
    text-align: center;
    color: #111
}
#home-tours h3 a:hover,
#home-tours article:hover a {
    background: #333;
    color: #fff;
    border-bottom: none
}
@media only screen and (max-width: 45em) {
    #home-tours h3 {
        font-size: 1em;
        line-height: 1em
    }
    #tours.browse .item-result .item-image,
    #items.browse .item-result .item-image {
        display: none;
        height: 0
    }
}
.item-description.empty {
    background-color: #fff;
    padding: 1em 0;
}

