.homepage-hero {
    margin-bottom: 160px;
}

.about-main {
    color: $black;
    text-align: center;
    max-width: 600px;
    display: block;
    margin: auto;
    font-size: 32px;
}

.featuredSection + .featuredSection {
    margin-top: 288px;
}

.featuredSection-inner {
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }
}

.featuredSection-link {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
    }
}

.featuredSection-header {
    @media screen and (min-width: $tablet) {
        margin-bottom: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.featuredSection-label {
    display: inline-block;
    background-color: $green;

    padding: 8px 32px;
    margin: 0;

    position: relative;
    transform: translateY(50%);
    z-index: 10000; // out z-ing the leaflet map control styles (being set to 1000)

    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;

    @media screen and (min-width: $tablet) {
        transform: none;
        flex: 0 1 200px;
    }
}

.featuredSection-title {
    display: none;
    margin-left: 32px;

    @media screen and (min-width: $tablet) {
        display: block;
        //margin-left: 0;
        flex: 1 1 auto;
    }
}

.featuredItem {
    position: relative;
}

.featuredItem + .featuredItem {
    margin-top: 96px;
}

.featuredItem-imageBg {
    height: 460px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featuredItem-text {}

.featuredItem-title {
    max-width: 70%;
    color: $white;
    position: absolute;
    bottom: 0px;
    transform: translateY(34%);
    right: 7%;
}

.featuredItem-title--raggedBackground {
    @include raggedBackground;
}

.featuredMap {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }

}

.featuredMap-label {
    background-color: $green;
    display: inline-block;
    padding: 8px 32px;
    margin: 0;
    text-transform: uppercase;
}

.featuredMap-map {
    margin-top: 32px;
    padding-left: 56px;
    padding-right: 20px;

    // TODO temporary override
    #map_canvas {
        height: 300px;

        @media screen and (min-width: $tablet) {
            height: 450px;
        }
    }
}

.featuredMap-title {
    color: $white;
    display: inline-block;
    margin-left: 32px;
    margin-right: 6%;
    margin-top: 16px;
    max-width: 400px;

    @media screen and (min-width: $tablet) {
        margin-left: 9%;
        margin-top: 32px;
    }
}

.featuredMap-titleInner {
    $raggedPadding: 12px;
    background-color: $orange;
    padding: 8px $raggedPadding;
    box-shadow: $raggedPadding 0 0 $orange, -$raggedPadding 0 0 $orange;
}

/*
**
** People section
**
*/

.person {
    img {
        max-height: 250px;
        display: block;
        margin:auto;
    }
    h3 {
        text-align: center;
    }
}


.greyBanner {
    background-color: $lightgrey;
    padding: 8px;
    margin-top: 96px;

}

.greyBanner-proposalImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greyBanner-copy h4 {
    padding: 16px 0px;
    margin: 0;
}
