.featuredSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.featuredSection-label {
    background-color: var(--green);
    padding: 8px 32px;
}

.featuredSection-title {
    margin-left: 32px;
}

.featuredItem {
    position: relative;
}

.featuredItem-imageBg {
    height: 460px;
}

.featuredItem-title {
    padding: 0 16px 0 16px;
}

.featuredItem-text {
    color: var(--white);
    background: var(--blue);
    position: absolute;
    bottom: 0;
    right: 0;
}
