.browseItem {
    margin-top: 96px;
}

.browseItem:first-child {
    margin-top: 32px;
}

.browseItem-title {

}

.browseItem-byline {
    margin-top: 8px;
}

.browseItem-description {
    margin-top: 24px;
}

.browseItem-image {
    margin-top: 24px;
}

.browseItem-tags {
    margin-top: 16px;
}

.browseItem-tagsTitle {
    text-transform: uppercase;
}

@mixin tag () {
    background-color: $lightgrey;
    border-radius: 32px;
    padding: 8px 24px;
    display: inline-block;
    margin-top: 8px;
}

.browseItem-tagsList a {
    @include tag;
}

.allTagsList {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allTagsList-tag {
    @include tag;
    margin-left: 8px;
    margin-right: 8px;
}

.allTagsList-tag:first-child {
    margin-left: 0;
}

.allTagsList-tag:last-child {
    margin-right: 0;
}

.allTags-title {
    
}
