.browseItem {
    margin-top: 96px;
}

.browseItem:first-child {
    margin-top: 32px;
}

.browseItem-title {

}

.browseItem-byline {
    margin-top: 8px;
}

.browseItem-description {
    margin-top: 24px;
}

.browseItem-image {
    margin-top: 24px;
}

.browseItem-imageBg {
    @include imgBg;
    margin-top: 24px;
    height: 240px;

    @include media(tablet) {
        height: 360px;
    }

    @include media(desktop) {
        height: 440px;
    }
}

.browseItem-tags {
    margin-top: 16px;
}

.browseItem-tagsTitle {
    text-transform: uppercase;
}

@mixin tag () {
    background-color: $lightgrey;
    border-radius: 32px;
    padding: 8px 24px;
    display: inline-block;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.browseItem-tagsList a {
    @include tag;
}

.allTagsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allTagsList-tag {
    @include tag;
}


.allTags-title {
    
}
