.file-content {
    text-align: center;
}

.file-contentInner { 
    display: inline-block;
}

.file-metadata .element-set h2 {
    font-size: 1.55rem;
    font-family: 'Cabin Condensed', sans-serif;
    @include f-lighten(#4a4a4a);
}

.file-metadata .element-set h3 {
    font-size: 1.45rem;
}

.file-metadata .element + .file-metadata .element h3 {
    margin-top: 16px;
}

.file-metadata .element h3 {
    margin-top: 0px;
}

.element + .element {
    margin-top: 24px;
}

.element {
    maring-top: 4px;
}

.file-pad-left {
}

.element-set:first-child h2 {
    margin-top: 0;
}

.element-set h2 {
    margin-top: 32px;
}

.element-text {
    margin-top: 2px;
    line-height: 1.6rem;
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    padding-left: 2px;
}

.file-body {
    padding: 24px 16px;
}
