/*
wrap
    #hero // map
    #map-actions
    #content
    artice.storey.item.show.instapaper_body.hentry
        header.story-header
        #item-primary.show
            section#text
                .item-description
        #item-media
        #item-metadata
        #share-this
*/

.item-headerInner {
    height: 300px;
    position: relative;
}

.item-headerImage {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .item-headerInner { height: 450px; }
    .item-headerImage { height: 450px; }
}

@media screen and (min-width: 1008px) {
    .item-headerInner { height: 550px; }
    .item-headerImage { height: 550px; }
}

.item-title {
    color: var(--white);
    max-width: 70%;
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    left: 24px;
}

.item-title--raggedBackground {
    background-color: var(--blue);
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 16px 0 0 var(--blue), -16px 0 0 var(--blue);
}

.item-subtitle {
    margin: 0;
}

.item-metadata {
    border: 1px solid var(--lightgrey);
    padding: 32px;
}

.item-legend {
    font-size: 36px;
    text-transform: uppercase;
    /* vertical padding here fixes an odd rendering artifact */
    padding: 1px 16px 0 0;
}

.item-fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: $black;
    border-left-color: transparent;
}

.item-fieldsetInner {
    padding: 8px;
}

@media screen and (min-width: 768px) {
    .item-lede, .item-description, .item-media {
        max-width: 76%;
    }
}
