.browseItem {
    margin-top: 32px;
    @include media(tablet) { max-width: 60%; }
    @include media(desktop) { padding-bottom: 64px; }
    @include media(large) { padding-bottom: 48px; }
}

.browseItem:first-child {
    margin-top: 16px;
}

.browseItem-title {

}

.browseItem-byline {
    margin-top: 8px;
}

.browseItem-description {
    margin-top: 8px;
    align-self: flex-end;

}

.browseItem-image {
    margin-top: 24px;
}

.browseItem-imageBg {
    @include imgBg;
    margin-top: 24px;
    height: 180px;

    @include media(tablet) {
        height: 240px;
    }

    @include media(desktop) {
        height: 290px;
    }
}

.browseItem-tags {
    margin-top: 16px;
}

.browseItem-tagsTitle {
    text-transform: uppercase;
}

.browseItem-tagsList a {
    @include tag;
}

.allTagsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allTagsList-tag {
    @include tag;
}


.allTags-title {
    
}
