.item-headerInner {
    height: 300px;
    position: relative;
}

.item-headerImage {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .item-headerInner { height: 450px; }
    .item-headerImage { height: 450px; }
}

@media screen and (min-width: 1008px) {
    .item-headerInner { height: 550px; }
    .item-headerImage { height: 550px; }
}

.item-title {
    color: $white;
    max-width: 70%;
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    left: 24px;

    @media screen and (min-width: $desktop) {
        bottom: initial;
        top: 16px;
        left: 48px;
    }
}

.item-title--raggedBackground {
    background-color: $blue;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 16px 0 0 $blue, -16px 0 0 $blue;
}

.item-subtitle {
    margin: 0;
}

.item-metadata {
    padding: 32px;
    margin-top: 56px;
}

.item-legend {
    text-transform: uppercase;
    /* vertical padding here fixes an odd rendering artifact */
    padding-right: 16px;
    background-color: $white;
    position: relative;
    bottom: -18px;
    vertical-align: middle;
    display: inline-block;
    z-index: 10;
}

.item-fieldset {
    padding: 24px 16px 16px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #4a4a4a;
    border-left-color: transparent;
}

.item-map {
    margin-top: 64px;
}

.item-lede {

}

.item-description {
    margin-top: 64px;
}

@media screen and (min-width: 768px) {
    .item-lede, .item-description, .item-media {
        max-width: 76%;
    }
}
