/*! Social Links*/

a.ext-social-link {
    background: #333;
    color: #fafafa;
    border: 1px solid #333;
    padding: .5em;
    display: inline-block;
    margin: 0.25em;
    text-align: center;
    border-radius: 0.25em
}
a.ext-social-link:hover {
    background: #f2f2f2;
    color: #333;
    border-color: #111;
    box-shadow: 0 0 .1em #333
}
a.ext-social-link.email:hover,
a.ext-social-link.email:hover {
    background: #f2f2f2
}
a.ext-social-link.youtube:hover {
    background: #de2826;
    color: #fff;
    border-color: #fff
}
a.ext-social-link.facebook:hover {
    background: #305891;
    color: #fff;
    border-color: #fff
}
a.ext-social-link.twitter:hover {
    background: #2ca8d2;
    color: #fff;
    border-color: #fff
}
a.ext-social-link.pinterest:hover {
    background: #c82828;
    color: #fff;
    border-color: #fff
}
a.ext-social-link.apple:hover {
    background: #000;
    color: #fff;
    border-color: #fff
}
a.ext-social-link.android:hover {
    background: #90BE4E;
    color: #fff;
    border-color: #fff
}
a.ext-social-link span {
    display: inline
}
@media only screen and (max-width: 50em) {
    body footer.main {
        padding-top: 3em;
        background: #333;
        color: #fafafa;
        margin-top: 0
    }
    footer.main a.ext-social-link {
        background: #555
    }
    footer.main a.ext-social-link.email:hover,
    footer.main a.ext-social-link.instagram:hover {
        background: #f2f2f2
    }
    a.ext-social-link {
        margin: 0.15em;
        border-radius: 5%;
        font-size: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px
    }
    a.ext-social-link span.social_label {
        display: none
    }
    footer.main input.search {
        margin-bottom: .5em
    }
}
@media only screen and (max-width: 30em) {
    a.ext-social-link {
        margin: 0
    }
}

