/* regular weight */
//@font-face {
    //font-family: 'Edmonsans';
    //src: url('./../fonts/Edmondsans-Regular.woff') format('woff');
         ////url('./../fonts/Edmondsans-Regular.otf') format('otf');
    //font-weight: normal;
    //font-style: normal;
//}

//[> this font's medium looks pretty bold <]
//@font-face {
    //font-family: 'Edmonsans';
    //src: url('./../fonts/Edmondsans-Medium.woff') format('woff');
         ////url('./../fonts/Edmondsans-Medium.otf') format('otf');
    //font-weight: bold;
    //font-style: normal;
//}

//[> very bold <]
//@font-face {
    //font-family: 'Edmonsans';
    //src: url('./../fonts/Edmondsans-Bold.woff') format('woff');
         ////url('./../fonts/Edmondsans-Bold.otf') format('otf');
    //font-weight: 900; //font-style: normal;
//}

a {
    color: inherit;
}

.f-anchor, .achor { color: $blue; }

.content a {
    color: $blue;
}

a:focus {
    outline: thin dotted
}
a:active,
a:hover {
    outline: 0
}

.f-body, html, body {
    font-family: 'Cabin Condensed', serif;
}

.f-title, h1,h2,h3,h4,h5,h6 {
    font-family: 'EB Garamond', Helvettica, sans-serif;
}

a, p, li, span, dt, dd {
    font-family: inherit;
}

h1, .f-h1 { font-size: 1.8rem; }
h2, .f-h2 { font-size: 1.65rem; }
h3, .f-h3 { font-size: 1.2rem; }
h4, .f-h4 { font-size: 1.15rem; }
h5, .f-h5 { font-size: 1.0rem; }
h6, .f-h6 { font-size: 0.75rem; }

@media screen and (min-width: $tablet) {
    h1, .f-h1 { font-size: 2.2rem; }
    h2, .f-h2 { font-size: 1.85rem; }
    h3, .f-h3 { font-size: 1.5rem; }
    h4, .f-h4 { font-size: 1.25rem; }
    h5, .f-h5 { font-size: 1.2rem; }
    h6, .f-h6 { font-size: 0.75rem; }
}

@mixin f-lighten ($color, $val: 15) {
    color: lighten($color, $val);
}

.f-lighten { color: lighten(#4a4a4a, 14); }
.f-upper { text-transform: uppercase; }
.f-center { text-align: center; }

abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
blockquote {
    margin: 1em 40px
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
p,
pre {
    margin: 1em 0
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}
q {
    quotes: none
}
q:before,
q:after {
    content: '';
    content: none
}
small {
    font-size: 85%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
dl,
menu,
ol,
ul {
    margin: 1em 0
}
dd {
    margin: 0 0 0 40px
}
.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em
}
.show.dropcap .item-description p:first-child:first-letter,
.show.dropcap #tour-description p:first-child:first-letter {
    float: left;
    font-size: 4em;
    line-height: .75em;
    padding-top: 0.075em;
    padding-right: .115em;
    padding-left: 0
}
