/*! ===== Other MEDIA QUERIES ===== */

@media only screen and (max-width: 25em) {
    /*! <400px, smaller phone viewport, i.e. iPhone and smaller */
}
@media only screen and (max-width: 45em) {
    /*! Rules that apply up to 45, i.e. phone-sized devices in general */
    
    #showmap {
        height: 0;
        position: relative
    }
    #showmap a {
        background: none repeat scroll 0 0 #fafafa;
        border: medium none;
        border-radius: 50%;
        bottom: 1.25em;
        color: #999;
        display: inline-block;
        font-size: 2em;
        height: .85em;
        line-height: .95em;
        margin: 0;
        opacity: .65;
        padding: .25em;
        position: absolute;
        right: .25em;
        text-align: center;
        text-decoration: none;
        visibility: visible;
        width: .85em;
        z-index: 999
    }
    #showmap a span.icon-map-marker:before {
        padding-right: 0
    }
    #showmap a:hover {
        opacity: 1
    }
    #showmap a.mapview {
        opacity: 1;
        box-shadow: 0 0 .75em #333;
        border-radius: 10%
    }
}
